<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="SwagLabs Tests">
        <classes>
            <class name="automationpackage.Saucedemo.tests.SwagLabTest"/>
        </classes>
    </test>
</suite>
