<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="SauceDemo Suite" parallel="methods" thread-count="2">

    <listeners>
        <!-- ADD ONLY THIS -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

        <!-- KEEP YOUR EXISTING LISTENER -->
        <listener class-name="automationpackage.Saucedemo.listeners.TestExecutionLogger"/>
    </listeners>

    <test name="E2E Tests">
        <classes>
            <class name="automationpackage.Saucedemo.tests.SwagLabTest"/>
        </classes>
    </test>

</suite>
